@model IEnumerable<PricesComparationWeb.Models.Brand>

@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("name")
        <input type="submit" value="Buscar" class="btn btn-dark" />
        <a asp-action="Create" class="btn btn-dark">Nova Marca</a>
    </p>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
